# Supabase API Credentials
SUPABASE_URL=https://qbqbcjcnvhvsjwrfodzs.supabase.co
SUPABASE_ANON_KEY=INSIRA_SUA_ANON_KEY_AQUI

# PostgreSQL Database Connection (para migrações / ORM)
DATABASE_URL=postgresql://postgres:SUA_SENHA_AQUI@db.qbqbcjcnvhvsjwrfodzs.supabase.co:5432/postgres
